
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Open Sans,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  background: linear-gradient(to bottom right, #f0f6ff, #ffffff);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-body {
  /* height: 80%; */
  overflow: auto;
}

#section1 {
  height: 100vh;
  background-color: pink;
}

#section2 {
  height: 100vh;
  background-color: yellow;
}



.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.navbar {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #000;
  text-decoration: none;
}

.menu-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  text-align: center;
  padding: 64px;
  margin: 64px;
  height: 100vh;
}

@media (max-width: 768px) {
  .content {
    margin-top: 20vh; /* Adjust for smaller screens */
    width: 80%; /* Adjust width for smaller screens */
  }
}

.subtitle{
  margin-top: 0px;
  font-weight: 300;
}

.cta-line {
  text-align: center;
  padding-top: 16px;
}

.cta-line p {
  font-size: 18px;
  margin: 0;
}

.cta-link {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  padding: 0 10px;
}

.cta-link:hover {
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  padding: 10px 20px;
  border-radius: 5px;
}

.cta-button-row{
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  column-gap: 12px;
}


footer {
  height: 10%;
  width: 100%;
  text-align: center;
  padding: 32px;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social-links li {
  margin: 0 10px;
}

.social-links a {
  color: #000;
  text-decoration: none;
}

.explore-content {
  /* display: none; */
  display: flex;
  /* top: 100%;
  left: 0; */
  width: 100%;
  /* height: 100vh; */
  background-color: white;
  transition: top 0.5s ease-in-out;
}

#explore-button a {
  color: #fff;
  text-decoration: none;
}

/* .badge-font-weight{
  font-weight: 400 !important;
}*/

.story-heading{
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}

.row-container{
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.row{
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  justify-content: space-evenly;
}

.grow-card {
  width: 18rem !important;
  padding: 0;
  overflow: hidden; /* Hide overflowing content */
  transition: transform 0.3s ease; /* Add a smooth transition to transform property */
}

.grow-card:hover {
  transform: scale(1.1); /* Increase size on hover */
}

#explore-content {
  padding: 64px;
  padding-top: 48px;
}

.explore-content.active {
  display: flex;
}

.gpt-card {
  position: relative;
  width: 18rem !important;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 !important;
  height: 400px;
  width: 300px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  padding-top: 40px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  color: white;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: space-between;
}

.badge {
  padding: 4px 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 400 !important;
}


.inactive {
  display: none;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 32px;
}

html {
  scroll-behavior: smooth;
}