.logo h1:hover {
    width: max-content;
    cursor: pointer;
}

.gpt-card .card-content {
  padding-left: 3rem;
  padding-top: 6.5rem;
  top: 0;
}

.gpt-card .card-content:hover {
  cursor: pointer;
}